-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: balai_kursus
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `absensis`
--

DROP TABLE IF EXISTS `absensis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `absensis` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `risalah_id` bigint unsigned NOT NULL,
  `pendaftaran_id` bigint unsigned NOT NULL,
  `status` enum('H','S','I','A') COLLATE utf8mb4_unicode_ci NOT NULL,
  `jam_datang` time DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `absensis_risalah_id_pendaftaran_id_unique` (`risalah_id`,`pendaftaran_id`),
  KEY `absensis_pendaftaran_id_foreign` (`pendaftaran_id`),
  KEY `absensis_status_index` (`status`),
  KEY `absensis_created_at_index` (`created_at`),
  CONSTRAINT `absensis_pendaftaran_id_foreign` FOREIGN KEY (`pendaftaran_id`) REFERENCES `pendaftarans` (`id`),
  CONSTRAINT `absensis_risalah_id_foreign` FOREIGN KEY (`risalah_id`) REFERENCES `risalahs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `absensis`
--

LOCK TABLES `absensis` WRITE;
/*!40000 ALTER TABLE `absensis` DISABLE KEYS */;
/*!40000 ALTER TABLE `absensis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificate_templates`
--

DROP TABLE IF EXISTS `certificate_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificate_templates` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `institution_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'UNIVERSITAS PENDIDIKAN INDONESIA',
  `unit_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'BALAI BAHASA',
  `city` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Bandung',
  `header_logo_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `background_image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signature_image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `stamp_image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signer_title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signer_nip` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `certificate_prefix` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '0',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificate_templates`
--

LOCK TABLES `certificate_templates` WRITE;
/*!40000 ALTER TABLE `certificate_templates` DISABLE KEYS */;
INSERT INTO `certificate_templates` VALUES (1,'Template Sertifikat Resmi','UNIVERSITAS PENDIDIKAN INDONESIA','BALAI BAHASA','Bandung','images/certificate/logo_upi_ttd.png','images/certificate/template.jpeg','images/certificate/ttd.png','images/certificate/label_ttd.png','Prof. Ika Lestari Damayanti, M.A., Ph.D.','Kepala Balai Bahasa','197709192001122001','UN40.J7/TA.05.00',1,'2026-04-16 00:31:29','2026-04-16 00:31:29');
/*!40000 ALTER TABLE `certificate_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificates`
--

DROP TABLE IF EXISTS `certificates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificates` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `template_id` bigint unsigned DEFAULT NULL,
  `certificate_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `certificate_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `serial_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `issued_date` date DEFAULT NULL,
  `certificate_image_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pdf_path` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_id` bigint unsigned NOT NULL,
  `participant_id` bigint unsigned NOT NULL,
  `status` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `participant_name_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `program_name_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `course_name_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hours_snapshot` int unsigned DEFAULT NULL,
  `start_date_snapshot` date DEFAULT NULL,
  `end_date_snapshot` date DEFAULT NULL,
  `signer_name_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signer_title_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `signer_nip_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `city_snapshot` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `certificates_course_id_foreign` (`course_id`),
  KEY `certificates_participant_id_foreign` (`participant_id`),
  KEY `certificates_template_id_foreign` (`template_id`),
  CONSTRAINT `certificates_course_id_foreign` FOREIGN KEY (`course_id`) REFERENCES `kursuses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `certificates_participant_id_foreign` FOREIGN KEY (`participant_id`) REFERENCES `pesertas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `certificates_template_id_foreign` FOREIGN KEY (`template_id`) REFERENCES `certificate_templates` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificates`
--

LOCK TABLES `certificates` WRITE;
/*!40000 ALTER TABLE `certificates` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `haris`
--

DROP TABLE IF EXISTS `haris`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `haris` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `urutan` int NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `haris_urutan_index` (`urutan`),
  KEY `haris_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `haris`
--

LOCK TABLES `haris` WRITE;
/*!40000 ALTER TABLE `haris` DISABLE KEYS */;
INSERT INTO `haris` VALUES (1,'Senin',1,'2026-04-16 00:31:30','2026-04-16 00:31:30'),(2,'Selasa',2,'2026-04-16 00:31:30','2026-04-16 00:31:30'),(3,'Rabu',3,'2026-04-16 00:31:30','2026-04-16 00:31:30'),(4,'Kamis',4,'2026-04-16 00:31:30','2026-04-16 00:31:30'),(5,'Jumat',5,'2026-04-16 00:31:30','2026-04-16 00:31:30'),(6,'Sabtu',6,'2026-04-16 00:31:30','2026-04-16 00:31:30'),(7,'Minggu',7,'2026-04-16 00:31:30','2026-04-16 00:31:30');
/*!40000 ALTER TABLE `haris` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instruktur_kursus_levels`
--

DROP TABLE IF EXISTS `instruktur_kursus_levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instruktur_kursus_levels` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `instruktur_id` bigint unsigned NOT NULL,
  `kursus_id` bigint unsigned NOT NULL,
  `level_id` bigint unsigned NOT NULL,
  `assigned_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `instruktur_kursus_levels_instruktur_id_kursus_id_level_id_unique` (`instruktur_id`,`kursus_id`,`level_id`),
  KEY `instruktur_kursus_levels_kursus_id_foreign` (`kursus_id`),
  KEY `instruktur_kursus_levels_level_id_foreign` (`level_id`),
  CONSTRAINT `instruktur_kursus_levels_instruktur_id_foreign` FOREIGN KEY (`instruktur_id`) REFERENCES `instrukturs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instruktur_kursus_levels_kursus_id_foreign` FOREIGN KEY (`kursus_id`) REFERENCES `kursuses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `instruktur_kursus_levels_level_id_foreign` FOREIGN KEY (`level_id`) REFERENCES `levels` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=121 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instruktur_kursus_levels`
--

LOCK TABLES `instruktur_kursus_levels` WRITE;
/*!40000 ALTER TABLE `instruktur_kursus_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `instruktur_kursus_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `instrukturs`
--

DROP TABLE IF EXISTS `instrukturs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `instrukturs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `nama_instr` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `spesialisasi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `instrukturs_user_id_index` (`user_id`),
  KEY `instrukturs_created_at_index` (`created_at`),
  CONSTRAINT `instrukturs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `instrukturs`
--

LOCK TABLES `instrukturs` WRITE;
/*!40000 ALTER TABLE `instrukturs` DISABLE KEYS */;
INSERT INTO `instrukturs` VALUES (1,2,'Budi Santoso','General English Batch 1','2026-04-16 00:31:30','2026-04-16 00:31:30'),(2,3,'Siti Amelia','Conversation Batch 2','2026-04-16 00:31:31','2026-04-16 00:31:31'),(3,4,'Rian Saputra','TOEFL Preparation Batch 3','2026-04-16 00:31:31','2026-04-16 00:31:31'),(4,5,'Dewi Maharani','Academic Writing Batch 4','2026-04-16 00:31:32','2026-04-16 00:31:32'),(5,6,'Hendra Kusuma','Business English Batch 5','2026-04-16 00:31:32','2026-04-16 00:31:32'),(6,7,'Nadia Lestari','Pronunciation Batch 6','2026-04-16 00:31:32','2026-04-16 00:31:32');
/*!40000 ALTER TABLE `instrukturs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jadwals`
--

DROP TABLE IF EXISTS `jadwals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jadwals` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kursus_id` bigint unsigned NOT NULL,
  `pertemuan_ke` int DEFAULT NULL,
  `tgl_pertemuan` date NOT NULL,
  `jam_mulai` time DEFAULT NULL,
  `jam_selesai` time DEFAULT NULL,
  `created_by` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `lokasi_id` bigint unsigned DEFAULT NULL,
  `kela_id` bigint unsigned DEFAULT NULL,
  `hari_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `jadwals_lokasi_id_foreign` (`lokasi_id`),
  KEY `jadwals_kela_id_foreign` (`kela_id`),
  KEY `jadwals_hari_id_foreign` (`hari_id`),
  KEY `jadwals_kursus_id_index` (`kursus_id`),
  KEY `jadwals_created_by_index` (`created_by`),
  KEY `jadwals_tgl_pertemuan_index` (`tgl_pertemuan`),
  KEY `jadwals_kursus_id_tgl_pertemuan_index` (`kursus_id`,`tgl_pertemuan`),
  CONSTRAINT `jadwals_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `jadwals_hari_id_foreign` FOREIGN KEY (`hari_id`) REFERENCES `haris` (`id`),
  CONSTRAINT `jadwals_kela_id_foreign` FOREIGN KEY (`kela_id`) REFERENCES `kelas` (`id`),
  CONSTRAINT `jadwals_kursus_id_foreign` FOREIGN KEY (`kursus_id`) REFERENCES `kursuses` (`id`),
  CONSTRAINT `jadwals_lokasi_id_foreign` FOREIGN KEY (`lokasi_id`) REFERENCES `lokasis` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=241 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jadwals`
--

LOCK TABLES `jadwals` WRITE;
/*!40000 ALTER TABLE `jadwals` DISABLE KEYS */;
/*!40000 ALTER TABLE `jadwals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kelas`
--

DROP TABLE IF EXISTS `kelas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kelas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kapasitas` int DEFAULT NULL,
  `fasilitas` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `kelas_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kelas`
--

LOCK TABLES `kelas` WRITE;
/*!40000 ALTER TABLE `kelas` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kursuses`
--

DROP TABLE IF EXISTS `kursuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kursuses` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `program_id` bigint unsigned NOT NULL,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `periode` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_mulai` date DEFAULT NULL,
  `tanggal_selesai` date DEFAULT NULL,
  `jam_pelajaran` int unsigned DEFAULT NULL,
  `harga` int NOT NULL,
  `harga_upi` int DEFAULT NULL,
  `kuota` int NOT NULL,
  `status` enum('buka','tutup','berjalan') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `instruktur_id_2` bigint unsigned DEFAULT NULL,
  `level_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kursuses_instruktur_id_2_foreign` (`instruktur_id_2`),
  KEY `kursuses_program_id_index` (`program_id`),
  KEY `kursuses_status_index` (`status`),
  KEY `kursuses_created_at_index` (`created_at`),
  KEY `kursuses_level_id_foreign` (`level_id`),
  CONSTRAINT `kursuses_instruktur_id_2_foreign` FOREIGN KEY (`instruktur_id_2`) REFERENCES `instrukturs` (`id`),
  CONSTRAINT `kursuses_level_id_foreign` FOREIGN KEY (`level_id`) REFERENCES `levels` (`id`),
  CONSTRAINT `kursuses_program_id_foreign` FOREIGN KEY (`program_id`) REFERENCES `programs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kursuses`
--

LOCK TABLES `kursuses` WRITE;
/*!40000 ALTER TABLE `kursuses` DISABLE KEYS */;
/*!40000 ALTER TABLE `kursuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `levels`
--

DROP TABLE IF EXISTS `levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `levels` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `warna` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `urutan` int unsigned NOT NULL DEFAULT '1',
  `nilai_min` decimal(5,2) DEFAULT NULL,
  `nilai_max` decimal(5,2) DEFAULT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `levels_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `levels`
--

LOCK TABLES `levels` WRITE;
/*!40000 ALTER TABLE `levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lokasis`
--

DROP TABLE IF EXISTS `lokasis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lokasis` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `alamat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_telp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kota` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `provinsi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lokasis_kota_index` (`kota`),
  KEY `lokasis_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lokasis`
--

LOCK TABLES `lokasis` WRITE;
/*!40000 ALTER TABLE `lokasis` DISABLE KEYS */;
/*!40000 ALTER TABLE `lokasis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `order_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `amount` bigint unsigned NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `customer_phone` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('pending','success','failed','refunded') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `payment_method` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transaction_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `response_data` json DEFAULT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `pendaftaran_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `payments_order_id_unique` (`order_id`),
  KEY `payments_user_id_foreign` (`user_id`),
  KEY `payments_order_id_index` (`order_id`),
  KEY `payments_status_index` (`status`),
  KEY `payments_created_at_index` (`created_at`),
  CONSTRAINT `payments_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pendaftarans`
--

DROP TABLE IF EXISTS `pendaftarans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pendaftarans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nomor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `peserta_id` bigint unsigned NOT NULL,
  `program_id` bigint unsigned DEFAULT NULL,
  `level_id` bigint unsigned DEFAULT NULL,
  `kursus_id` bigint unsigned DEFAULT NULL,
  `status_pendaftaran` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'menunggu_tes',
  `status_pembayaran` enum('pending','dp','cicil','lunas') COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_bayar` int NOT NULL,
  `terbayar` int NOT NULL DEFAULT '0',
  `catatan_admin` text COLLATE utf8mb4_unicode_ci,
  `diklasifikasikan_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pendaftarans_nomor_unique` (`nomor`),
  KEY `pendaftarans_peserta_id_index` (`peserta_id`),
  KEY `pendaftarans_kursus_id_index` (`kursus_id`),
  KEY `pendaftarans_status_pembayaran_index` (`status_pembayaran`),
  KEY `pendaftarans_peserta_id_kursus_id_index` (`peserta_id`,`kursus_id`),
  KEY `pendaftarans_created_at_index` (`created_at`),
  KEY `pendaftarans_program_id_foreign` (`program_id`),
  KEY `pendaftarans_level_id_foreign` (`level_id`),
  CONSTRAINT `pendaftarans_kursus_id_foreign` FOREIGN KEY (`kursus_id`) REFERENCES `kursuses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pendaftarans_level_id_foreign` FOREIGN KEY (`level_id`) REFERENCES `levels` (`id`) ON DELETE SET NULL,
  CONSTRAINT `pendaftarans_peserta_id_foreign` FOREIGN KEY (`peserta_id`) REFERENCES `pesertas` (`id`),
  CONSTRAINT `pendaftarans_program_id_foreign` FOREIGN KEY (`program_id`) REFERENCES `programs` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pendaftarans`
--

LOCK TABLES `pendaftarans` WRITE;
/*!40000 ALTER TABLE `pendaftarans` DISABLE KEYS */;
/*!40000 ALTER TABLE `pendaftarans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tokenable_id` bigint unsigned NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `abilities` text COLLATE utf8mb4_unicode_ci,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peserta_kursus`
--

DROP TABLE IF EXISTS `peserta_kursus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `peserta_kursus` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `peserta_id` bigint unsigned NOT NULL,
  `kursus_id` bigint unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `peserta_kursus_peserta_id_foreign` (`peserta_id`),
  KEY `peserta_kursus_kursus_id_foreign` (`kursus_id`),
  CONSTRAINT `peserta_kursus_kursus_id_foreign` FOREIGN KEY (`kursus_id`) REFERENCES `kursuses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `peserta_kursus_peserta_id_foreign` FOREIGN KEY (`peserta_id`) REFERENCES `pesertas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peserta_kursus`
--

LOCK TABLES `peserta_kursus` WRITE;
/*!40000 ALTER TABLE `peserta_kursus` DISABLE KEYS */;
/*!40000 ALTER TABLE `peserta_kursus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `peserta_kursus_levels`
--

DROP TABLE IF EXISTS `peserta_kursus_levels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `peserta_kursus_levels` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `peserta_id` bigint unsigned NOT NULL,
  `kursus_id` bigint unsigned NOT NULL,
  `level_id` bigint unsigned DEFAULT NULL,
  `assigned_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `peserta_kursus_levels_peserta_id_kursus_id_unique` (`peserta_id`,`kursus_id`),
  KEY `peserta_kursus_levels_kursus_id_foreign` (`kursus_id`),
  KEY `peserta_kursus_levels_level_id_foreign` (`level_id`),
  CONSTRAINT `peserta_kursus_levels_kursus_id_foreign` FOREIGN KEY (`kursus_id`) REFERENCES `kursuses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `peserta_kursus_levels_level_id_foreign` FOREIGN KEY (`level_id`) REFERENCES `levels` (`id`) ON DELETE SET NULL,
  CONSTRAINT `peserta_kursus_levels_peserta_id_foreign` FOREIGN KEY (`peserta_id`) REFERENCES `pesertas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `peserta_kursus_levels`
--

LOCK TABLES `peserta_kursus_levels` WRITE;
/*!40000 ALTER TABLE `peserta_kursus_levels` DISABLE KEYS */;
/*!40000 ALTER TABLE `peserta_kursus_levels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pesertas`
--

DROP TABLE IF EXISTS `pesertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pesertas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint unsigned NOT NULL,
  `nomor_peserta` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_hp` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `instansi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pesertas_nomor_peserta_unique` (`nomor_peserta`),
  KEY `pesertas_user_id_index` (`user_id`),
  KEY `pesertas_created_at_index` (`created_at`),
  CONSTRAINT `pesertas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesertas`
--

LOCK TABLES `pesertas` WRITE;
/*!40000 ALTER TABLE `pesertas` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `programs`
--

DROP TABLE IF EXISTS `programs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `warna` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `programs_created_at_index` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programs`
--

LOCK TABLES `programs` WRITE;
/*!40000 ALTER TABLE `programs` DISABLE KEYS */;
INSERT INTO `programs` VALUES (1,'General English','#f59e0b','2026-04-16 00:31:30','2026-04-16 00:31:30'),(2,'Business English','#0f766e','2026-04-16 00:31:30','2026-04-16 00:31:30'),(3,'Academic English','#2563eb','2026-04-16 00:31:30','2026-04-16 00:31:30'),(4,'Conversation Intensive','#db2777','2026-04-16 00:31:30','2026-04-16 00:31:30'),(5,'TOEFL Preparation','#7c3aed','2026-04-16 00:31:30','2026-04-16 00:31:30'),(6,'IELTS Preparation','#dc2626','2026-04-16 00:31:30','2026-04-16 00:31:30');
/*!40000 ALTER TABLE `programs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `risalahs`
--

DROP TABLE IF EXISTS `risalahs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `risalahs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kursus_id` bigint unsigned NOT NULL,
  `instruktur_id` bigint unsigned NOT NULL,
  `jadwal_id` bigint unsigned DEFAULT NULL,
  `pertemuan_ke` int NOT NULL,
  `tgl_pertemuan` date NOT NULL,
  `materi` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `dokumen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `risalahs_kursus_id_foreign` (`kursus_id`),
  KEY `risalahs_instruktur_id_foreign` (`instruktur_id`),
  KEY `risalahs_jadwal_id_index` (`jadwal_id`),
  KEY `risalahs_created_at_index` (`created_at`),
  CONSTRAINT `risalahs_instruktur_id_foreign` FOREIGN KEY (`instruktur_id`) REFERENCES `instrukturs` (`id`),
  CONSTRAINT `risalahs_jadwal_id_foreign` FOREIGN KEY (`jadwal_id`) REFERENCES `jadwals` (`id`),
  CONSTRAINT `risalahs_kursus_id_foreign` FOREIGN KEY (`kursus_id`) REFERENCES `kursuses` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `risalahs`
--

LOCK TABLES `risalahs` WRITE;
/*!40000 ALTER TABLE `risalahs` DISABLE KEYS */;
/*!40000 ALTER TABLE `risalahs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scores`
--

DROP TABLE IF EXISTS `scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scores` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `pendaftaran_id` bigint unsigned NOT NULL,
  `jenis` varchar(24) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'course',
  `listening` int DEFAULT NULL,
  `speaking` int DEFAULT NULL,
  `reading` int DEFAULT NULL,
  `writing` int DEFAULT NULL,
  `assignment` int DEFAULT NULL,
  `uktp` int DEFAULT NULL,
  `ukap` int DEFAULT NULL,
  `var1` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `var2` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `var3` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `var4` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `final_score` decimal(5,2) DEFAULT NULL,
  `status` enum('pass','fail','pending') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pending',
  `evaluated_by` bigint unsigned DEFAULT NULL,
  `evaluated_at` date DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `scores_pendaftaran_id_index` (`pendaftaran_id`),
  KEY `scores_evaluated_by_index` (`evaluated_by`),
  KEY `scores_status_index` (`status`),
  KEY `scores_pendaftaran_id_status_index` (`pendaftaran_id`,`status`),
  KEY `scores_evaluated_at_index` (`evaluated_at`),
  KEY `scores_jenis_index` (`jenis`),
  CONSTRAINT `scores_evaluated_by_foreign` FOREIGN KEY (`evaluated_by`) REFERENCES `instrukturs` (`id`),
  CONSTRAINT `scores_pendaftaran_id_foreign` FOREIGN KEY (`pendaftaran_id`) REFERENCES `pendaftarans` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scores`
--

LOCK TABLES `scores` WRITE;
/*!40000 ALTER TABLE `scores` DISABLE KEYS */;
/*!40000 ALTER TABLE `scores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `role` enum('admin','instruktur','peserta') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'peserta',
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'balai_kursus'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-16 15:07:33
